.brands{
    margin-bottom: 40px;

    @media (min-width: 768px){
        margin-bottom: 50px;
    }

    &__heading{
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.brands__item{

    img{
        @media (min-width: 768px){
            width: 180px;
        }
        object-fit: cover;
    }
}