.docs-main{
    margin-top: 20px;
    margin-bottom: 40px;

    &__heading{
        margin-bottom: 40px;

        p{
            margin-bottom: 10px;

            font-weight: 500;
            font-size: 13px;
            line-height: 1.45;
            color: #454950;
        }
    }
}

.docs-main__content{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;

    @media (min-width: 768px){
        column-gap: 16px;
        row-gap: 16px;
    }
}

.docs-main__card{
    max-width: 148px;

    @media (min-width: 768px){
        max-width: 278px;
    }

    @media (min-width: 1440px){
        max-width: 376px;
    }

    &-heading{
        position: relative;
        padding: 11px 11px 7px;

        border: 8px solid #2F323A;
        border-bottom: none;
        background-color: #FFFFFF;
        box-shadow: 0px 15px 40px rgba(67, 62, 6, 0.1);

        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #2F323A;

        @media (min-width: 768px){
            padding: 20px 20px 100px;

            border-width: 20px;

            font-size: 18px;
        }

        @media (min-width: 1440px){
            padding: 25px 20px 90px;

            border-width: 37px;

            font-size: 20px;
        }

        &::before{
            content: "";
            position: absolute;
            width: 0px;
            height: 20px;
            top: 88px;
            left: 20px;

            background-color: #E9E9E9;

            @media (min-width: 768px){
                width: 175px;
            }

            @media (min-width: 1440px){
                top: 101px;
            }
        }

        &::after{
            content: "";
            position: absolute;
            width: 0px;
            height: 20px;
            left: 20px;
            bottom: 25px;

            background-color: #E9E9E9;

            @media (min-width: 768px){
                width: 198px;
            }

            @media (min-width: 1440px){
                bottom: 15px;
            }
        }
    }

    &-content{
        padding: 8px;
        
        border: 1px solid #E8E9EA;
        background-color: white;

        font-weight: 500;
        font-size: 15px;
        line-height: 1.45;
        color: #2F323A;

        @media (min-width: 768px){
            font-size: 16px;
        }

        p+p{
            margin-top: 4px;
        }

        button{
            margin-top: 8px;
            margin-left: auto;
            margin-right: auto;

            @media (min-width: 1440px){
                width: 344px;
            }
        }
    }
}

.docs-main__card-content-heading{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    @media (min-width: 768px){
        font-weight: 700;
        font-size: 18px;
    }
}