.popular{
    margin-bottom: 40px;

    @media (min-width: 768px){
        margin-bottom: 50px;
    }

    &__heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__wrapper{
        width: 100%;
    }
}

.popular__item{
    width: 148px;
    padding-top: 12px;

    background-color: #F6F6F6;

    @media (min-width: 768px){
        width: 180px;
    }

    &:hover{
        background-color: #FCEC41;
    }

    h3{
        margin-bottom: 20px;

        font-weight: 500;
        font-size: 15px;
        line-height: 1.45;
        text-align: center;
        color: #2F323A;

        @media (min-width: 768px){
            font-size: 18px;
        }
    }
}