<div class="about">
    <div class="container">
        <div class="about__wrapper">

            <div class="about__heading">
                <h2 class="main-title">О компании</h2>
            </div>

            <div class="about__content">
                <p>
                    В СтройкаСтор вы всегда можете купить все необходимые товары для ремонта домаи дачи. Хотите сделать ремонт в квартире? Строите загородный дом? Используйте строительные и отделочные материалы из нашего каталога.
                </p>
                <p>
                    Быстрая доставка строительных товаров по низким ценам сделает ваши покупки более приятными. Ремонт может стоить дешево, если делать его с нами. Для вас всегдав наличии более 30 000 товаров для строительства по низким ценам каждый день.
                    <br>
                    СтройкаСтор — это широкий ассортимент товаров для дома и ремонта недорого; Возможность заказать строительные и отделочные материалы для дома и дачи.
                </p>
            </div>

        </div>
    </div>
</div>