<div class="all-brands">
    <div class="container">
        <div class="all-brands__wrapper">

            <div class="all-brands__inner">
                <!-- <img src="./img/brands-page/all-brands/slide-main.jpg" alt="Все бренды"> -->

                <picture>
                    <source srcset="./../img/brands-page/all-brands/slide-main-lg.jpg"
                            media="(min-width: 1440px)">
                    <source srcset="./../img/brands-page/all-brands/slide-main-md.jpg"
                            media="(min-width: 1024px)">
                    <source srcset="./../img/brands-page/all-brands/slide-main-xs.jpg"
                            media="(min-width: 768px)">
                            <img src="./../img/brands-page/all-brands/slide-main.jpg" alt="Все бренды">
                </picture>

                <div class="all-brands__content">

                    <p>Главная → Все продавцы</p>
                    <h2 class="main-title--brands">Все бренды</h2>

                </div>
            </div>

        </div>
    </div>
</div>