<div class="brands-filter">
    <div class="container">
        <div class="brands-filter__wrapper">

            <div class="brands-filter__btns">

                <button class="brands-filter__btn brands-filter__btn--all" type="button" data-filter="all">
                    Все
                </button>
    
                <button class="brands-filter__btn" type="button" data-filter=".A">
                    A
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".B">
                    B
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".C">
                    C
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".D">
                    D
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".E">
                    E
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".F">
                    F
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".G">
                    G
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".H">
                    H
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".I">
                    I
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".J">
                    J
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".K">
                    K
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".L">
                    L
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".M">
                    M
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".N">
                    N
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".O">
                    O
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".P">
                    P
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".Q">
                    Q
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".R">
                    R
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".S">
                    S
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".T">
                    T
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".U">
                    U
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".V">
                    V
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".W">
                    W
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".Z">
                    Z
                </button>
    
                <button class="brands-filter__btn" type="button" data-filter=".AR">
                    А
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".BR">
                    Б
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".GR">
                    Г
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".DR">
                    Д
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".ER">
                    Е
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".JR">
                    Ж
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".ZR">
                    З
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".IR">
                    И
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".KR">
                    К
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".LR">
                    Л
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".MR">
                    М
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".NR">
                    Н
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".OR">
                    О
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".PR">
                    П
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".RR">
                    Р
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".SR">
                    С
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".TR">
                    Т
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".YR">
                    У
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".FR">
                    Ф
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".SHR">
                    Ш
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".EER">
                    Э
                </button>
                <button class="brands-filter__btn" type="button" data-filter=".YAR">
                    Я
                </button>

            </div>


        </div>
    </div>
</div>