<div class="brands-ul">
    <div class="container">
        <div id="mix-cards" class="brands-ul__wrapper">

            <div class="brands-ul__item mix A">

                <div class="brands-ul__letter">
                    <span>A</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>ASB-Woodline</li>
                        <li>Alma Ceramica</li>
                        <li>Am.Pm</li>
                        <li>Appetite</li>
                        <li>Axima</li>
                        <li>AVS</li>
                        <li>Alvaro-Banos</li>
                        <li>Apecs</li>
                        <li>Auto Standart</li>
                        <li>Azario</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix B">

                <div class="brands-ul__letter">
                    <span>B</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>BLB</li>
                        <li>BRAVAT</li>
                        <li>Belezza</li>
                        <li>Blocker</li>
                        <li>Bostik</li>
                        <li>Bussare</li>
                        <li>BOYSCOUT</li>
                        <li>Belani</li>
                        <li>Belinka</li>
                        <li>Bosch</li>
                        <li>Braver</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix C">

                <div class="brands-ul__letter">
                    <span>C</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Cemmix</li>
                        <li>Ceramica Konskie</li>
                        <li>Ceresit</li>
                        <li>Ceramica Konskie</li>
                        <li>Ceresit</li>
                        <li>Ceresit</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix D">

                <div class="brands-ul__letter">
                    <span>D</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>DAP</li>
                        <li>Damixa</li>
                        <li>Decoretto</li>
                        <li>Dora</li>
                        <li>Dulux</li>
                        <li>DARIIS</li>
                        <li>Deco Room</li>
                        <li>Docke</li>
                        <li>Dufa</li>
                        <li>Duschy</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix E">

                <div class="brands-ul__letter">
                    <span>E</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>EKF</li>
                        <li>EUROTEX</li>
                        <li>Element</li>
                        <li>Elysium</li>
                        <li>Energy</li>
                        <li>Estima</li>
                        <li>ESKO</li>
                        <li>Egger</li>
                        <li>Elfe</li>
                        <li>Energizer</li>
                        <li>Erismann</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix F">

                <div class="brands-ul__letter">
                    <span>F</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Fischer</li>
                        <li>Fora</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix G">

                <div class="brands-ul__letter">
                    <span>G</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>GP BATTERIES</li>
                        <li>GSHOSE</li>
                        <li>Gayafores</li>
                        <li>Gimi</li>
                        <li>Golden Tile</li>
                        <li>Gracia Ceramica</li>
                        <li>Grohe</li>
                        <li>Grinda</li>
                        <li>GRANICOM</li>
                        <li>Gauss</li>
                        <li>Giaretti</li>
                        <li>GlobalTile</li>
                        <li>Goldman</li>
                        <li>Grinda</li>
                        <li>Gracia Ceramica</li>
                        <li>Grohe</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix H">

                <div class="brands-ul__letter">
                    <span>H</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>HARO</li>
                        <li>HELP</li>
                        <li>Hammer</li>
                        <li>Home Color</li>
                        <li>Huter</li>
                        <li>HEGEL</li>
                        <li>HENKEL</li>
                        <li>Hobby</li>
                        <li>Husky</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix I">

                <div class="brands-ul__letter">
                    <span>I</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>IEK</li>
                        <li>IVC</li>
                        <li>IKA</li>
                        <li>Ideal</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix J">

                <div class="brands-ul__letter">
                    <span>J</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Jika</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix K">

                <div class="brands-ul__letter">
                    <span>K</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>KLEO</li>
                        <li>Kerama Marazzi</li>
                        <li>Kolner</li>
                        <li>Kraftool</li>
                        <li>Kronostar</li>
                        <li>Karcher</li>
                        <li>Kiilto</li>
                        <li>Komar</li>
                        <li>Krass</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix L">

                <div class="brands-ul__letter">
                    <span>L</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>LUX</li>
                        <li>Lasselsberger</li>
                        <li>Lemark</li>
                        <li>Leonord</li>
                        <li>LaFavola</li>
                        <li>Legrand</li>
                        <li>Lemax</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix M">

                <div class="brands-ul__letter">
                    <span>M</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>METALTEX</li>
                        <li>Makel</li>
                        <li>Mallony</li>
                        <li>Marmiton</li>
                        <li>Matrix</li>
                        <li>Milardo</li>
                        <li>Murol</li>
                        <li>MONETA</li>
                        <li>Makita</li>
                        <li>Marburg</li>
                        <li>Marshall</li>
                        <li>Meiwa Gravure Co., Ltd</li>
                        <li>Monopole</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix N">

                <div class="brands-ul__letter">
                    <span>N</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>NRAVA HOME</li>
                        <li>Norta</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix O">

                <div class="brands-ul__letter">
                    <span>O</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>OLFA</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix P">

                <div class="brands-ul__letter">
                    <span>P</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>P&P</li>
                        <li>PROSEPT</li>
                        <li>Park</li>
                        <li>Phibo</li>
                        <li>Polynor</li>
                        <li>PALLADIUM</li>
                        <li>Palisad</li>
                        <li>Pasabahce</li>
                        <li>Plast team</li>
                        <li>Power Cube</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix Q">

                <div class="brands-ul__letter">
                    <span>Q</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Quick-Step</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix R">

                <div class="brands-ul__letter">
                    <span>R</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Rasch</li>
                        <li>Regent</li>
                        <li>Roca</li>
                        <li>Realistik</li>
                        <li>Rehau</li>
                        <li>Rossinka</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix S">

                <div class="brands-ul__letter">
                    <span>S</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Safeline</li>
                        <li>Santool</li>
                        <li>Sheffilton</li>
                        <li>Stayer</li>
                        <li>Salag</li>
                        <li>Schneider Electric</li>
                        <li>Soudal</li>
                        <li>Swensa</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix T">

                <div class="brands-ul__letter">
                    <span>T</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>T4P</li>
                        <li>Tarkett</li>
                        <li>Tokito</li>
                        <li>TRIUMPH NORD</li>
                        <li>Thermo</li>
                        <li>Toplight</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix U">

                <div class="brands-ul__letter">
                    <span>U</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>UNICUM</li>
                        <li>Unibob</li>
                        <li>UNIVERSAL</li>
                        <li>Unicorn</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix V">

                <div class="brands-ul__letter">
                    <span>V</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>VIDIMA</li>
                        <li>Vents</li>
                        <li>Vincent</li>
                        <li>VODA</li>
                        <li>Vernissage</li>
                        <li>Vortex</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix W">

                <div class="brands-ul__letter">
                    <span>W</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>WAGO</li>
                        <li>Wester</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix Z">

                <div class="brands-ul__letter">
                    <span>Z</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Zalger</li>
                        <li>Ziber</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix AR">

                <div class="brands-ul__letter">
                    <span>А</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>АНИ</li>
                        <li>АСБ-Мебель</li>
                        <li>Авангард</li>
                        <li>Аист</li>
                        <li>Аквафор</li>
                        <li>Альпа</li>
                        <li>Алюмет</li>
                        <li>Арей</li>
                        <li>Артекс</li>
                        <li>Астрохим</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix BR">

                <div class="brands-ul__letter">
                    <span>Б</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Банные штучки</li>
                        <li>Белвинил</li>
                        <li>Бытпласт</li>
                        <li>Барьер</li>
                        <li>Брянские обои</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix GR">

                <div class="brands-ul__letter">
                    <span>Г</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Гипрофи</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix DR">

                <div class="brands-ul__letter">
                    <span>Д</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Двери.ру</li>
                        <li>Делга</li>
                        <li>Джоби</li>
                        <li>Дверной Континент</li>
                        <li>Дельфа</li>
                        <li>ДорВуд</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix ER">

                <div class="brands-ul__letter">
                    <span>Е</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Еврокерамика</li>
                        <li>Едим Дома</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix JR">

                <div class="brands-ul__letter">
                    <span>Ж</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Жук</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix ZR">

                <div class="brands-ul__letter">
                    <span>З</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Зеленая Аптека Садовода</li>
                        <li>Зубр</li>
                        <li>Зенит</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix IR">

                <div class="brands-ul__letter">
                    <span>И</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Индустрия</li>
                        <li>Итана</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix KR">

                <div class="brands-ul__letter">
                    <span>К</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Кедр</li>
                        <li>Колор Эксперт</li>
                        <li>Комарофф</li>
                        <li>Континент</li>
                        <li>Керамин</li>
                        <li>Колорит</li>
                        <li>Контакт</li>
                        <li>Кукморский завод Металлопосуды</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix LR">

                <div class="brands-ul__letter">
                    <span>Л</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Лакра</li>
                        <li>Лесма</li>
                        <li>Лесстройпроект</li>
                        <li>Лукойл</li>
                        <li>Лесенка</li>
                        <li>Лесозавод</li>
                        <li>Луга</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix MR">

                <div class="brands-ul__letter">
                    <span>М</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Макрофлекс</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix NR">

                <div class="brands-ul__letter">
                    <span>Н</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Нева Тафт</li>
                        <li>Нэфис</li>
                        <li>Нрава</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix OR">

                <div class="brands-ul__letter">
                    <span>О</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>ОКСО</li>
                        <li>Ондулин</li>
                        <li>Олимп</li>
                        <li>Орио</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix PR">

                <div class="brands-ul__letter">
                    <span>П</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>ПРОМЕТ</li>
                        <li>Пластик Репаблик</li>
                        <li>Полимербыт</li>
                        <li>Промрукав</li>
                        <li>Профилюкс</li>
                        <li>Пинотекс</li>
                        <li>Пластмаркет</li>
                        <li>Политэк</li>
                        <li>Профильдорс</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix RR">

                <div class="brands-ul__letter">
                    <span>Р</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Ресанта</li>
                        <li>Рыжий кот</li>
                        <li>Рифар</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix SR">

                <div class="brands-ul__letter">
                    <span>С</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>СИБИН</li>
                        <li>Сантек</li>
                        <li>Сельмаш</li>
                        <li>СоюзБалтКомплект</li>
                        <li>Ставр</li>
                        <li>Старатели</li>
                        <li>Ступино</li>
                        <li>СТН</li>
                        <li>Саратовские обои</li>
                        <li>Сибртех</li>
                        <li>Спарта</li>
                        <li>Стальэмаль</li>
                        <li>Строитель</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix TR">

                <div class="brands-ul__letter">
                    <span>Т</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>ТДВ</li>
                        <li>Твоя Планета</li>
                        <li>Тритон</li>
                        <li>ТОРН</li>
                        <li>Технолайн</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix YR">

                <div class="brands-ul__letter">
                    <span>У</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Уют</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix FR">

                <div class="brands-ul__letter">
                    <span>Ф</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Фаско</li>
                        <li>Формат</li>
                        <li>Фертика</li>
                        <li>Фрекен Бок</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix SHR">

                <div class="brands-ul__letter">
                    <span>Ш</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Шахтинская плитка</li>
                        <li>Штрих</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix EER">

                <div class="brands-ul__letter">
                    <span>Э</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>ЭКО</li>
                        <li>Эксперт</li>
                        <li>Эко НОМ</li>
                    </ul>

                </div>

            </div>

            <div class="brands-ul__item mix YAR">

                <div class="brands-ul__letter">
                    <span>Я</span>
                </div>

                <div class="brands-ul__brands">

                    <ul>
                        <li>Яр краски</li>
                        <li>Ярославский антисептик</li>
                    </ul>

                </div>

            </div>

        </div>
    </div>
</div>