<div class="brands">
    <div class="container">
        <div class="brands__wrapper">

            <div class="brands__heading">
                <h2 class="main-title">Популярные бренды</h2>
            </div>

            <div class="cards cards--brands">

                <div class="brands__item">
                    <img src="./../img/brands/bever.png" alt="Bever" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/braer.png" alt="Braer" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/leonardo.png" alt="Leonardo Stone" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/euroblock.png" alt="EuroBlock" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/perfekta.png" alt="Perfekta" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/mstera.png" alt="Mstera" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/lsr.png" alt="Lsr" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/galen.png" alt="Galen" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/recke.png" alt="Recke" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/modformat.png" alt="ModFormat" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/decra.png" alt="Decra" width="100" height="66">
                </div>

                <div class="brands__item">
                    <img src="./../img/brands/engels-baksteen.png" alt="Engels Baksteen" width="100" height="66">
                </div>

            </div>

            <a href="#!" class="btn-all">Все бренды</a>

        </div>
    </div>
</div>