<div class="cart-content">
    <div class="container">
        <div class="cart-content__wrapper">

            <div class="cart-content__goods">

                <div class="cards">

                    <!-- <div class="goods__item">
                        <img src="./../img/goods/c-ya4m112d.png" alt="Керамогранит">
    
                        <div class="goods__item-content">
                            <h3>Керамогранит Yasmin 598х185 коричневый C-YA4M112D</h3>
                            <span>899 ₽</span>
                            <button class="btn-del">
                                Удалить
                            </button>
                        </div>
                    </div>

                    <div class="goods__item">
                        <img src="./../img/goods/c-ya4m112d.png" alt="Керамогранит">
    
                        <div class="goods__item-content">
                            <h3>Керамогранит Yasmin 598х185 коричневый C-YA4M112D</h3>
                            <span>899 ₽</span>
                            <button class="btn-del">
                                Удалить
                            </button>
                        </div>
                    </div> -->

                </div>

            </div>

        </div>
    </div>
</div>