<div class="cart-info">
    <div class="container">
        <div class="cart-info__wrapper">
            
            <div class="cart-info__inner">

                <!-- <img src="./../img/cart-page/cart-bg.jpg" class="cart-info__bg"> -->

                <picture>
                    <source srcset="./../img/cart-page/cart-bg-lg.jpg"
                            media="(min-width: 1440px)">
                    <source srcset="./../img/cart-page/cart-bg-md.jpg"
                            media="(min-width: 1024px)">
                    <source srcset="./../img/cart-page/cart-bg-xs.jpg"
                            media="(min-width: 768px)">
                            <img src="./../img/cart-page/cart-bg.jpg" alt="Доставка">
                </picture>

                <div class="cart-info__content">

                    <p>Главная → Корзина</p>
                    <h2 class="main-title--brands">Корзина</h2>

                </div>

            </div>
            
        </div>
    </div>
</div>