<div class="contacts-main">
    <div class="container">
        <div class="contacts-main__wrapper">

            <div class="contacts-main__heading">
                <p>Главная → Контакты</p>
                <h2 class="main-title main-title--contacts">Контакты</h2>
            </div>

            <div class="contacts-main__map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab6c5824496fe7822a3a1caddf6b4f26eab619f41e70e523347d82bc6110a46b5&amp;source=constructor" width="100%" height="240" frameborder="0"></iframe>
            </div>

            <div class="contacts-main__info">

                <h2 class="main-title">
                    ООО «СтройкаСтор»
                </h2>

                <div class="contacts-main__info-wrapper">

                    <ul class="contacts-main__address">
                        <li>
                            <p>
                                115114, г. Москва, Дербеневская набережная, д. 7, стр. 8
                            </p>
                        </li>
                        <li>
                            <p>
                                Павелецкая Автобусы 13, 106, 158, 184, 632 Остановка «Дербеневская наб., д. 7»
                            </p>
                        </li>
                    </ul>
    
                    <div class="contacts-main__link">
                        Поддержка клиентов<br>
                        <a href="mailto:info@stroykastore.ru">info@stroykastore.ru</a>
                    </div>
    
                    <ul class="contacts-main__docs">
                        <li>
                            ОГРН: 1047796688554
                        </li>
                        <li>
                            ИНН 7703528301
                        </li>
                        <li>
                            КПП 774850001
                        </li>
                        <li>
                            ОКТМО 45380000
                        </li>
                        <li>
                            ОГРН 1047796688554
                        </li>
                        <li>
                            Расчетный рублевый счет: 40702810900001403352
                        </li>
                        <li>
                            Банк: АО «Сбербанк» г. Москва
                        </li>
                        <li>
                            Корреспондентский счет: 30101810200000000700
                        </li>
                        <li>
                            БИК: 044525700
                        </li>
                    </ul>

                </div>

            </div>

        </div>
    </div>
</div>