<div class="delivery-faq">
    <div class="container">
        <div class="delivery-faq__wrapper">

            <h2 class="main-title">Часто задаваемые вопросы</h2>

            <div class="list-group">

                <div class="list-group__card">
                    <div class="list-group-item list-header" data-name="accordeon-title">
                        <p>Водитель уведомит меня о начале доставки доставки?</p>
                    </div>
    
                    <div class="list-group-item list-content">
                            <p>
                                Есть товары, которые можно купить сразу на сервисе, и товары, для покупки которых нужно перейти на сайт магазина. Условия их получения отличаются.
                            </p>
    
                            <p>
                                В этом разделе описаны условия для товаров, которые можно купить. Также некоторые товары, которые продаются на Маркете, доставляются непосредственно продавцами и имеют пометку об этом. Для таких товаров могут быть доступны не все возможности, описанные ниже.
                            </p>
                    </div>
                </div>

                <div class="list-group__card">
                    <div class="list-group-item list-header" data-name="accordeon-title">
                        <p>Мне нужна помощь в разгрузке товара (дополнительная услуга), что делать?</p>
                    </div>
    
                    <div class="list-group-item list-content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ut eos perferendis placeat soluta inventore, delectus quod ducimus, quae facere officiis error, nemo laudantium quos itaque sapiente similique iste autem!
                            </p>
    
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et reiciendis rem soluta officiis ratione velit itaque libero dicta, eaque, ut architecto, consectetur molestias aperiam? Veniam voluptates voluptatum possimus! Vel, facilis?
                            </p>
                    </div>
                </div>

                <div class="list-group__card">
                    <div class="list-group-item list-header" data-name="accordeon-title">
                        <p>Заказ доставили, что то от меня требуется?</p>
                    </div>
    
                    <div class="list-group-item list-content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ut eos perferendis placeat soluta inventore, delectus quod ducimus, quae facere officiis error, nemo laudantium quos itaque sapiente similique iste autem!
                            </p>
    
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et reiciendis rem soluta officiis ratione velit itaque libero dicta, eaque, ut architecto, consectetur molestias aperiam? Veniam voluptates voluptatum possimus! Vel, facilis?
                            </p>
                    </div>
                </div>

                <div class="list-group__card">
                    <div class="list-group-item list-header" data-name="accordeon-title">
                        <p>Что делать если товар не тот, или ненадлежащего качества?</p>
                    </div>
    
                    <div class="list-group-item list-content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ut eos perferendis placeat soluta inventore, delectus quod ducimus, quae facere officiis error, nemo laudantium quos itaque sapiente similique iste autem!
                            </p>
    
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et reiciendis rem soluta officiis ratione velit itaque libero dicta, eaque, ut architecto, consectetur molestias aperiam? Veniam voluptates voluptatum possimus! Vel, facilis?
                            </p>
                    </div>
                </div>

                <div class="list-group__card">
                    <div class="list-group-item list-header" data-name="accordeon-title">
                        <p>У меня крупный заказ (5 и более тонн груза), у вас есть доставка и разгрузка манипулятором?</p>
                    </div>
    
                    <div class="list-group-item list-content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ut eos perferendis placeat soluta inventore, delectus quod ducimus, quae facere officiis error, nemo laudantium quos itaque sapiente similique iste autem!
                            </p>
    
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et reiciendis rem soluta officiis ratione velit itaque libero dicta, eaque, ut architecto, consectetur molestias aperiam? Veniam voluptates voluptatum possimus! Vel, facilis?
                            </p>
                    </div>
                </div>

                <div class="list-group__card">
                    <div class="list-group-item list-header" data-name="accordeon-title">
                        <p>Сколько времени дается на самостоятельную разгрузку товара?</p>
                    </div>
    
                    <div class="list-group-item list-content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ut eos perferendis placeat soluta inventore, delectus quod ducimus, quae facere officiis error, nemo laudantium quos itaque sapiente similique iste autem!
                            </p>
    
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et reiciendis rem soluta officiis ratione velit itaque libero dicta, eaque, ut architecto, consectetur molestias aperiam? Veniam voluptates voluptatum possimus! Vel, facilis?
                            </p>
                    </div>
                </div>

                <div class="list-group__card">
                    <div class="list-group-item list-header" data-name="accordeon-title">
                        <p>Ваша доставка опоздала, как можно помочь вам улучшить свой уровень сервиса?</p>
                    </div>
    
                    <div class="list-group-item list-content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ut eos perferendis placeat soluta inventore, delectus quod ducimus, quae facere officiis error, nemo laudantium quos itaque sapiente similique iste autem!
                            </p>
    
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et reiciendis rem soluta officiis ratione velit itaque libero dicta, eaque, ut architecto, consectetur molestias aperiam? Veniam voluptates voluptatum possimus! Vel, facilis?
                            </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>