<div class="delivery-info">
    <div class="container">
        <div class="delivery-info__wrapper">
            
            <div class="delivery-info__inner">

                <!-- <img src="./../img/delivery-page/delivery-bg.jpg" alt="Background"> -->

                <picture>
                    <source srcset="./../img/delivery-page/delivery-bg-lg.jpg"
                            media="(min-width: 1440px)">
                    <source srcset="./../img/delivery-page/delivery-bg-md.jpg"
                            media="(min-width: 1024px)">
                    <source srcset="./../img/delivery-page/delivery-bg-xs.jpg"
                            media="(min-width: 768px)">
                            <img src="./../img/delivery-page/delivery-bg.jpg" alt="Доставка">
                </picture>

                <div class="delivery-info__content">

                    <p>Главная → Доставка</p>
                    <h2 class="main-title--brands">Доставка</h2>
                    <p class="delivery-info__text">
                        Доставка осуществляется курьерами поставщика или службой курьеров Достависта. Также товар можно забрать самостоятельно от поставщика
                    </p>

                </div>

            </div>
            
        </div>
    </div>
</div>