<div class="docs-main">
    <div class="container">
        <div class="docs-main__wrapper">

            <div class="docs-main__heading">
                <p>Главная → Документация</p>
                <h2 class="main-title">
                    Документация
                </h2>
            </div>

            <div class="docs-main__content">

                <div class="docs-main__card">

                    <h3 class="docs-main__card-heading">
                        Оферта «Безопасная сделка»
                    </h3>

                    <div class="docs-main__card-content">

                        <p class="docs-main__card-content-heading">Оферта «Безопасная сделка»</p>
                        <p>PDF · 10 МБ</p>
                        <button class="btn">Скачать</button>

                    </div>

                </div>

                <div class="docs-main__card">

                    <h3 class="docs-main__card-heading">
                        Оферта «Безопасная сделка»
                    </h3>

                    <div class="docs-main__card-content">

                        <p class="docs-main__card-content-heading">Оферта «Безопасная сделка»</p>
                        <p>PDF · 10 МБ</p>
                        <button class="btn">Скачать</button>

                    </div>

                </div>

                <div class="docs-main__card">

                    <h3 class="docs-main__card-heading">
                        Оферта «Безопасная сделка»
                    </h3>

                    <div class="docs-main__card-content">

                        <p class="docs-main__card-content-heading">Оферта «Безопасная сделка»</p>
                        <p>PDF · 10 МБ</p>
                        <button class="btn">Скачать</button>

                    </div>

                </div>

                <div class="docs-main__card">

                    <h3 class="docs-main__card-heading">
                        Оферта «Безопасная сделка»
                    </h3>

                    <div class="docs-main__card-content">

                        <p class="docs-main__card-content-heading">Оферта «Безопасная сделка»</p>
                        <p>PDF · 10 МБ</p>
                        <button class="btn">Скачать</button>

                    </div>

                </div>

                <div class="docs-main__card">

                    <h3 class="docs-main__card-heading">
                        Оферта «Безопасная сделка»
                    </h3>

                    <div class="docs-main__card-content">

                        <p class="docs-main__card-content-heading">Оферта «Безопасная сделка»</p>
                        <p>PDF · 10 МБ</p>
                        <button class="btn">Скачать</button>

                    </div>

                </div>

                <div class="docs-main__card">

                    <h3 class="docs-main__card-heading">
                        Оферта «Безопасная сделка»
                    </h3>

                    <div class="docs-main__card-content">

                        <p class="docs-main__card-content-heading">Оферта «Безопасная сделка»</p>
                        <p>PDF · 10 МБ</p>
                        <button class="btn">Скачать</button>

                    </div>

                </div>

            </div>
            
        </div>
    </div>
</div>