<div class="footer">
    <div class="container">
        <div class="footer__wrapper">

                <div class="footer-content-row">
                    <div class="footer-row-l-t">
                        <img src="./../img/footer/logo.svg" alt="Logo" class="footer__logo">
                        <ul>
                            <li><a href="#!">
                                <img src="./../img/footer/mail.svg" alt="Mail">
                                info@stroykastore.ru
                            </a></li>
                            <li><a href="#!">
                                <img src="./../img/footer/location.svg" alt="Location">
                                Москва, ул. Камушкина 10
                            </a></li>
                        </ul>
                    </div>
                    <div class="footer-row-r-b">
                        <ul>
                            <li class="hover-link"><a href="#!">Личный кабинет</a></li>
                            <li class="hover-link"><a href="#!">Заказы</a></li>
                            <li class="hover-link"><a href="#!">Избранное</a></li>
                            <li class="hover-link"><a href="#!">Корзина</a></li>
                        </ul>
                        <ul>
                            <li class="hover-link"><a href="#!">Каталог</a></li>
                            <li class="hover-link"><a href="#!">Акции</a></li>
                            <li class="hover-link"><a href="#!">Бренды</a></li>
                            <li class="hover-link"><a href="#!">Контакты</a></li>
                        </ul>
                        <ul class="footer-row-b__links-xs">
                            <li class="hover-link"><a href="#!">Стать продавцом</a></li>
                            <li class="hover-link"><a href="#!">Доставка</a></li>
                            <li class="hover-link"><a href="#!">Возврат</a></li>
                            <li class="hover-link"><a href="#!">Документация</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-copyright-row">
                    <div class="footer__payment">
                        <img src="./../img/footer/visa.svg" alt="Visa">
                        <img src="./../img/footer/mastercard.svg" alt="Mastercard">
                        <img src="./../img/footer/maestro.svg" alt="Maestro">
                        <img src="./../img/footer/mir.svg" alt="Mir">
                    </div>
                    <p class="footer__copyright">
                        © СтройкаСтор
                    </p>
                    <p class="footer__madeby">
                        Made by <a href="https://kalinovne.ru/">kalinovne</a>
                    </p>
                </div>

        </div>
    </div>
</div>