<div class="goods">
    <div class="container">
        <div class="goods__wrapper">

            <div class="goods__heading">
                <h2 class="main-title">Популярные товары</h2>
            </div>

            <div class="cards">

                <div class="goods__item">
                    <img src="./../img/goods/c-ya4m112d.png" alt="Керамогранит">

                    <div class="goods__item-content">
                        <h3>Керамогранит Yasmin 598х185 коричневый C-YA4M112D</h3>
                        <span>899 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/ceresitce-33.png" alt="Затирка">
                    
                    <div class="goods__item-content">
                        <h3>Затирка для узких швов Ceresit СЕ 33, цвет белый, 2 кг</h3>
                        <span>275 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/starteli.png" alt="Грунтовка">
                    
                    <div class="goods__item-content">
                        <h3>Грунтовка Старатели 10л глубокого проникновения</h3>
                        <span>839 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/volma.png" alt="Гипсокартон">
                    
                    <div class="goods__item-content">
                        <h3>Гипсокартон Волма, 2500 х 1200 х 12,5 мм</h3>
                        <span>335 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/profile.png" alt="Профиль">
                    
                    <div class="goods__item-content">
                        <h3>Профиль 0,55мм для гипсокартона</h3>
                        <span>195 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/roulete.png" alt="Рулетка">
                    
                    <div class="goods__item-content">
                        <h3>Рулетка 3м</h3>
                        <span>135 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/knauf.png" alt="Кнауф">
                    
                    <div class="goods__item-content">
                        <h3>Кнауф Мп 75 штукатурка гипсовая МН 30кг</h3>
                        <span>380 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/d110-gr90.png" alt="Кнауф">
                    
                    <div class="goods__item-content">
                        <h3>Уголок серый канализационный Д110 ГР90</h3>
                        <span>335 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/rotband.png" alt="Ротбанд">
                    
                    <div class="goods__item-content">
                        <h3>Knauf Ротбанд, 30 кг</h3>
                        <span>508 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/metall.png" alt="Саморез">
                    
                    <div class="goods__item-content">
                        <h3>Саморез по металлу 3,5х25 мм для гипсокартона</h3>
                        <span>340 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/danogips.png" alt="Шпатлевка">
                    
                    <div class="goods__item-content">
                        <h3>Шпатлевка универсальная Danogips SuperFinish 17 л</h3>
                        <span>2 555 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

                <div class="goods__item">
                    <img src="./../img/goods/duck-tape.png" alt="Клейкая лента">
                    
                    <div class="goods__item-content">
                        <h3>Клейкая лента металлизированная Изоспан FL 5х5000 см</h3>
                        <span>226 ₽</span>
                        <button class="btn">
                            В корзину
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>