<div class="header-top-mobile">
    <div class="container">
        <div class="header-top-mobile__wrapper">
            <button id="mobileBtn" class="header-top-mobile__btn">
                <!-- <img src="./../img/mobile-menu/menu.svg" alt="Меню" width="40" height="40"> -->
                <span id="btn-mid" class="header-top-mobile__btn-mid"></span>
            </button>
            <a href="./../index.html">
                <img src="./../img/header/Logo.svg" alt="Логотип">
            </a>
            <a href="#!" class="header-top-mobile__btn">
                <img src="./../img/mobile-menu/cart.svg" alt="Корзина" width="40" height="40">
            </a>
        </div>

        <section id="mobileMenu" class="mobile-menu none">
            <!-- <div class="container"> -->
                <div class="mobile-menu__wrapper">
        
                    <a href="#!" class="btn btn--catalogue">
                        Каталог
                    </a>
        
                    <a href="#!" class="mobile-menu__btn">
                        Профиль
                    </a>
        
                    <a href="#!" class="mobile-menu__btn">
                        Заказы
                    </a>
        
                    <button id="locationBtn" class="location" data-micromodal-trigger="modal-1">
                        Москва
                    </button>
        
                </div>
            <!-- </div> -->
        </section>
    </div>
</div>