<div class="header-top-xs">
    <!-- <div class="container"> -->
        <div class="header-top-xs__wrapper">

            <div class="header-top-xs-row-t">
                <div class="container">
                    <div class="header-top-xs-row-t__wrapper">
                        <div class="header-top-xs-row-t__location">
                            <button id="locationBtnXs" class="location" data-micromodal-trigger="modal-1">
                                Москва
                            </button>
                        </div>
        
                        <nav class="header-top-xs-row-t__nav">
                            <ul>
                                <li><a href="./../delivery.html">Доставка</a></li>
                                <li><a href="./../refund.html">Возврат</a></li>
                                <li><a href="./../docs.html">Документация</a></li>
                                <li><a href="./../contacts.html">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="header-top-xs-row-b">
                <div class="container">
                    <div class="header-top-xs-row-b__wrapper">

                        <a href="./../index.html">
                            <img src="./../img/header/Logo.svg" alt="Логотип">
                        </a>
                        <a href="#!" class="btn btn--header">Каталог</a>
                        <form class="search-mobile-md">
                            <input type="text" name="search" placeholder="Поиск">
                            <button type="submit"><img src="./../img/header/search-icon.svg" alt="Искать"></button>
                        </form>
                        <ul>
                            <li><a href="#!"><img src="./../img/header/profile-icon.svg" alt="Профиль">Профиль</a></li>
                            <li><a href="#!"><img src="./../img/header/order-icon.svg" alt="Заказы">Заказы</a></li>
                            <li><a href="./../cart.html"><img src="./../img/header/cart-icon.svg" alt="Корзина">Корзина</a></li>
                        </ul>

                    </div>

                </div>
            </div>

        </div>
    <!-- </div> -->
</div>