<div id="modal-1" class="modal micromodal-slide" aria-hidden="true">
    <div tabindex="-1" data-micromodal-close class="modal__overlay">

        <button class="modal-close" data-micromodal-close>
        </button>

        <div
            role="dialog"
            aria-modal="true"
            class="modal__container"
        >
            
            <h2 class="main-title">Выберите ваш город</h2>

            <div class="cities">
                <div class="cities__col">
                    <ul>
                        <li><button class="modal-btn" data-micromodal-close>Москва</button></li>
                        <li><button class="modal-btn" data-micromodal-close>Екатеринбург</button></li>
                        <li><button class="modal-btn" data-micromodal-close>Челябинск</button></li>
                        <li><button class="modal-btn" data-micromodal-close>Уфа</button></li>
                        <li><button class="modal-btn" data-micromodal-close>Воронеж</button></li>
                    </ul>
                </div>
                <div class="cities__col">
                    <ul>
                        <li><button class="modal-btn" data-micromodal-close>Санкт-Петербург</button></li>
                        <li><button class="modal-btn" data-micromodal-close>Казань</button></li>
                        <li><button class="modal-btn" data-micromodal-close>Самара</button></li>
                        <li><button class="modal-btn" data-micromodal-close>Омск</button></li>
                        <li><button class="modal-btn" data-micromodal-close>Пермь</button></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>