<section class="mobile-slider-top">
    <div class="container">
        <div class="mobile-slider-top__wrapper">

            <div id="mobile-slider-top" class="mobile-slider-top__slider owl-carousel owl-theme">

                <div class="mobile-slider-top__slider-item">

                    <!-- <img src="./../img/mobile-slider/slide1.png" alt="Специальные предложения"> -->

                    <picture>
                        <source srcset="./../img/mobile-slider/slide1-lg.png"
                                media="(min-width: 1440px)">
                        <source srcset="./../img/mobile-slider/slide1-md.png"
                                media="(min-width: 1024px)">
                        <source srcset="./../img/mobile-slider/slide1-xs.png"
                                media="(min-width: 768px)">
                                <img src="./../img/mobile-slider/slide1.png" alt="">
                    </picture>

                    <div class="mobile-slider-top__slider-item-content">
                        <h2 class="main-title main-title--slider">
                            Специальные предложения
                        </h2>
                        <p>на строительные материалы и товары для ремонта</p>
                        <button class="btn btn--slider">Подробнее</button>
                    </div>

                </div>

                <div class="mobile-slider-top__slider-item">

                    <!-- <img src="./../img/mobile-slider/slide1.png" alt="Специальные предложения"> -->

                    <picture>
                        <source srcset="./../img/mobile-slider/slide1-lg.png"
                                media="(min-width: 1440px)">
                        <source srcset="./../img/mobile-slider/slide1-md.png"
                                media="(min-width: 1024px)">
                        <source srcset="./../img/mobile-slider/slide1-xs.png"
                                media="(min-width: 768px)">
                                <img src="./../img/mobile-slider/slide1.png" alt="">
                    </picture>

                    <div class="mobile-slider-top__slider-item-content">
                        <h2 class="main-title main-title--slider">
                            Специальные предложения
                        </h2>
                        <p>на строительные материалы и товары для ремонта</p>
                        <button class="btn btn--slider">Подробнее</button>
                    </div>

                </div>

            </div>

            <div class="mobile-slider-top__btns">

                <button id="sliderPrevMobTop" class="slider__arr slider-arr-left">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g class="slider__arr-svg">
                            <path d="M19 12H5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L5 12L12 19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>					
                </button>
            
                <button id="sliderNextMobTop" class="slider__arr slider-arr-right">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g class="slider__arr-svg">
                            <path d="M5 12H19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 5L19 12L12 19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>					
                </button>

            </div>

        </div>
    </div>
</section>