<div class="popular">
    <div class="container">
        <div class="popular__wrapper">

            <div class="popular__heading">
                <h2 class="main-title">Популярные категории</h2>
                <a href="#!" class="btn-all-xs">Все категории</a>
            </div>

            <div class="cards">
                
                <a href="#!" class="popular__item">
                    <h3>Душевые</h3>
                    <img src="./../img/popular/shower.png" alt="Душевые">
                </a>

                <a href="#!" class="popular__item">
                    <h3>Пиломатериалы</h3>
                    <img src="./../img/popular/wood.png" alt="Пиломатериалы">
                </a>

                <a href="#!" class="popular__item">
                    <h3>Линолеум</h3>
                    <img src="./../img/popular/floor.png" alt="Линолеум">
                </a>

                <a href="#!" class="popular__item">
                    <h3>Обои</h3>
                    <img src="./../img/popular/wallpapers.png" alt="Обои">
                </a>

                <a href="#!" class="popular__item">
                    <h3>Инструменты</h3>
                    <img src="./../img/popular/instruments.png" alt="Инструменты">
                </a>

                <a href="#!" class="popular__item">
                    <h3>Товары для дачи</h3>
                    <img src="./../img/popular/dacha.png" alt="Товары для дачи">
                </a>

                <a href="#!" class="popular__item">
                    <h3>Окна</h3>
                    <img src="./../img/popular/window.png" alt="Окна">
                </a>

                <a href="#!" class="popular__item">
                    <h3>Двери</h3>
                    <img src="./../img/popular/doors.png" alt="Двери">
                </a>

                <a href="#!" class="popular__item popular__item--xs">
                    <h3>Сантехника</h3>
                    <img src="./../img/popular/santechnics.png" alt="Сантехника">
                </a>

                <a href="#!" class="popular__item popular__item--xs">
                    <h3>Краски</h3>
                    <img src="./../img/popular/paints.png" alt="Краски">
                </a>

                <a href="#!" class="popular__item popular__item--xs">
                    <h3>Электротовары</h3>
                    <img src="./../img/popular/electrics.png" alt="Электротовары">
                </a>
                
                <a href="#!" class="popular__item popular__item--xs">
                    <h3>Интерьер</h3>
                    <img src="./../img/popular/interier.png" alt="Интерьер">
                </a>

            </div>

            <a href="#!" class="btn-all">Все категории</a>

        </div>
    </div>
</div>