<div class="refund-info">
    <div class="container">
        <div class="refund-info__wrapper">
            
            <div class="refund-info__inner">

                <!-- <img src="./../img/refund-page/about.jpg" alt="Background"> -->

                <picture>
                    <source srcset="./../img/refund-page/about-lg.jpg"
                            media="(min-width: 1440px)">
                    <source srcset="./../img/refund-page/about-md.jpg"
                            media="(min-width: 1024px)">
                    <source srcset="./../img/refund-page/about-xs.jpg"
                            media="(min-width: 768px)">
                            <img src="./../img/refund-page/about.jpg" alt="Доставка">
                </picture>

                <div class="refund-info__content">

                    <p>Главная → Возврат</p>
                    <h2 class="main-title--brands">Возврат</h2>
                    <p class="refund-info__text">
                        Ошиблись при выборе товара? Передумали? Ничего страшного! СтройкаСтор в течение 7 дней готова принять обратно или обменять Ваш товар
                    </p>

                </div>

            </div>
            
        </div>
    </div>
</div>