<div class="reviews">
    
    <div class="container">
        <div class="reviews__heading">
            <h2 class="main-title">Отзывы</h2>
        </div>
    </div>

    <div id="mobile-slider-bottom" class="reviews-slider owl-carousel owl-theme">

        <div class="reviews-slide">
            <div class="reviews-slide__heading">
                <div class="reviews-slide__heading-img">
                    <img src="./../img/reviews/avatar1.png" alt="Пётр">
                </div>
                <p>Пётр</p>
            </div>
            <div class="reviews-slide__content">
                <p>
                    Сегодня 10.03.2022 года, брал перфоратор в аренду в магазине по улице Дорожная. Продавец всё хорошо объяснил, показал и плюс остался бонус в ящике перфоратора это бур нужного мне диаметра, оставленным прежним арендатором. В общем повесил телевизор, где надо было просверлить 4 отверстия, всего за 100 ₽
                </p>
            </div>
            <div class="reviews-slide__footer">
                <span>21 марта 2022 г.</span>
            </div>
        </div>

        <div class="reviews-slide">
            <div class="reviews-slide__heading">
                <div class="reviews-slide__heading-img">
                    <img src="./../img/reviews/avatar2.png" alt="Анна">
                </div>
                <p>Анна</p>
            </div>
            <div class="reviews-slide__content">
                <p>
                    Живу в п.Володарский МО, очень были рады открытию магазина СтройкаСтор. Хорошие сотрудники, но особенно хочется отметить работу Алексея за его помощь в решении проблем, очень квалифицированные рекомендации по подбору строительных материалов для ремонта. Хороший ассортимент
                </p>
            </div>
            <div class="reviews-slide__footer">
                <span>18 марта 2022 г.</span>
            </div>
        </div>

        <div class="reviews-slide">
            <div class="reviews-slide__heading">
                <div class="reviews-slide__heading-img">
                    <img src="./../img/reviews/avatar3.png" alt="Виктор">
                </div>
                <p>Виктор</p>
            </div>
            <div class="reviews-slide__content">
                <p>
                    Заказывал в данном магазине строй материалы. Привезли их вовремя и в прекрасном состоянии, претензий к доставке, персоналу и прочему меня нет. Строй материалы мне понравились, ремонт с ними я сделал отличный. Магазин мне безумно понравился, обязательно обращусь сюда снова, большое спасибо
                </p>
            </div>
            <div class="reviews-slide__footer">
                <span>6 ноября 2020 г.</span>
            </div>
        </div>

        <div class="reviews-slide">
            <div class="reviews-slide__heading">
                <div class="reviews-slide__heading-img">
                    <img src="./../img/reviews/avatar4.png" alt="Дмитрий">
                </div>
                <p>Дмитрий</p>
            </div>
            <div class="reviews-slide__content">
                <p>
                    Данный магазин целиком и полностью оправдал все мои ожидания. Тут мне удалось найти апсалютно все нужные мне материалы для отделочных работ и в нужном количестве. С доставкой тоже получилось всё удобно. привезли всё в заказанном количестве и в отличном состоянии.
                </p>
            </div>
            <div class="reviews-slide__footer">
                <span>5 ноября 2021 г.</span>
            </div>
        </div>

    </div>
    
    <div class="container">

        <button id="sliderPrevMobBot" class="slider__arr slider-arr-left">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g class="slider__arr-svg">
                    <path d="M19 12H5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 5L5 12L12 19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>					
        </button>
    
        <button id="sliderNextMobBot" class="slider__arr slider-arr-right">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g class="slider__arr-svg">
                    <path d="M5 12H19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 5L19 12L12 19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>					
        </button>

    </div>

</div>